.Home__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .Home {
    width: 1232px;
    height: 640px;
    background: rgba(174, 167, 167, 0.48);
    backdrop-filter: blur(50px);
    border-radius: 50px;
  }
}