.Home__Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .Home {
    width: 1232px;
    height: 640px;
    background: rgba(174, 167, 167, 0.48);
    backdrop-filter: blur(25px);
    border-radius: 50px;
    position: relative;

    .Content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Home__Posts {
        display: flex;
        align-items: center;
        margin-left: 50px;
        gap: 15px;

        .Publication {
          width: 500px;
          height: 500px;
          display: flex;

          justify-content: center;
          align-items: center;
          border-radius: 25px;
          background: rgba(25, 161, 190, 0.38);
          backdrop-filter: blur(25px);
        }
        .Legend{
          border: 2px solid red;
          display: flex;
          flex-direction: column;
          padding: 15px;
          width: 300px;
          height: 500px;
          border-radius: 25px;
          background: rgba(217, 217, 217, 0.25);
          backdrop-filter: blur(50px);
          p{
            font-size: 13px;
          }
        }
      }

      .Home__Suggestion {
        margin-top: 20px;
        margin-right: 50px;
        .Suggestion__Content {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 600px;
          border-radius: 25px;
          background: rgba(217, 217, 217, 0.25);
          backdrop-filter: blur(25px);
        }
      }
    }
  }
}
