body{
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/*Base*/
@import './Base/Reset';

/*Views*/
@import './Views/HomePages';

/*Widget*/
@import './Widget/Navbar';
@import './Widget/Sidebar';