/*Base*/
@import './Base/Reset';

body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/*Widget*/
@import './Widget/Navbar';
@import './Widget/Sidebar';

/*Views*/
@import './Views/HomePages';
